# project
project.md

# --- basic ignoring ---

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# --- dependency management (Monorepo 核心) ---
node_modules/
.pnp
.pnp.js
# pnpm Cache
.pnpm-store/

# --- building (关键) ---
dist/
.dist/
out/
build/
# TypeScript Cache
*.tsbuildinfo

# --- Editor & System ---
.DS_Store
Thumbs.db
# For VSCode
!.vscode/settings.json    
# 开源项目建议保留 settings.json 以统一 Lint 规范
!.vscode/extensions.json  
# 建议保留插件推荐
.history/
.idea/

# --- Testing & Covering ---
coverage/
test-results/

# --- Environment Variables & Local Setting ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# --- Canvas  ---
__screenshots__/

# --- Project Specific (Jianzi) ---
# materials
/temp/
/public/test/
*.bak

# --- System/Log ---
npm-debug.log*
yarn-debug.log*